.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content {
  width: 500px;
  height: 309px;
  gap: 40px;
  border-radius: 24px 24px 24px 24px;
  background: #F1F9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  position: relative;
}

.popup-actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
}

.popup-actions button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.confirm-button {
  background: #166276;
  color: white;
  padding: 10px 30px;
}

.cancel-button {
  background: transparent;
  color: #166276;
  border: 2px solid #166276;
  padding: 0 20px;
  position: relative;
}

.cancel-button::after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background-color: #166276;
  position: absolute;
  bottom: 7.5px;
  left: 50%;
  transform: translateX(-50%);
}